---
import SimpleLayout from "../layouts/SimpleLayout.astro";
---

<SimpleLayout title="Test - Neat Barber">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1>Test de fonctionnement</h1>
        <p>Si vous voyez cette page, Astro fonctionne correctement.</p>
        <div class="alert alert-success">
          <strong>Succès !</strong> Le serveur Astro fonctionne.
        </div>
      </div>
    </div>
  </div>
</SimpleLayout>

