---
// LatestPosts.astro - Composant pour afficher les derniers articles de blog
---

<div class="latest-posts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Blog & News</h3>
          <h2 class="text-anime">Latest Tips & News</h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <!-- Post Item Start -->
        <div class="post-item wow fadeInUp" data-wow-delay="0.5s">
          <!-- Post Featured Image Start -->
          <div class="post-featured-image">
            <a href="#">
              <figure class="hover-anime">
                <img
                  src="/images/post-1.jpg"
                  alt="Unlocking the Secrets to Healthy, Luscious Locks"
                />
              </figure>
            </a>
          </div>
          <!-- Post Featured Image End -->

          <!-- Post Header Start -->
          <div class="post-header">
            <h3>
              <a href="#">Unlocking the Secrets to Healthy, Luscious Locks.</a>
            </h3>
            <div class="post-meta">
              <ul>
                <li><a href="#">December 20, 2023</a></li>
              </ul>
            </div>
          </div>
          <!-- Post Header End -->

          <!-- Post Read More Button Start -->
          <div class="post-readmore">
            <a href="#"
              ><img src="/images/icon-readmore.svg" alt="Read more" /></a
            >
          </div>
          <!-- Post Read More Button End -->
        </div>
        <!-- Post Item End -->
      </div>

      <div class="col-lg-4">
        <!-- Post Item Start -->
        <div class="post-item wow fadeInUp" data-wow-delay="0.75s">
          <!-- Post Featured Image Start -->
          <div class="post-featured-image">
            <a href="#">
              <figure class="hover-anime">
                <img
                  src="/images/post-2.jpg"
                  alt="Trend Alert: Hottest Hairstyles for 2024"
                />
              </figure>
            </a>
          </div>
          <!-- Post Featured Image End -->

          <!-- Post Header Start -->
          <div class="post-header">
            <h3><a href="#">Trend Alert: Hottest Hairstyles for 2024</a></h3>
            <div class="post-meta">
              <ul>
                <li><a href="#">December 20, 2023</a></li>
              </ul>
            </div>
          </div>
          <!-- Post Header End -->

          <!-- Post Read More Button Start -->
          <div class="post-readmore">
            <a href="#"
              ><img src="/images/icon-readmore.svg" alt="Read more" /></a
            >
          </div>
          <!-- Post Read More Button End -->
        </div>
        <!-- Post Item End -->
      </div>

      <div class="col-lg-4">
        <!-- Post Item Start -->
        <div class="post-item wow fadeInUp" data-wow-delay="1.0s">
          <!-- Post Featured Image Start -->
          <div class="post-featured-image">
            <a href="#">
              <figure class="hover-anime">
                <img
                  src="/images/post-3.jpg"
                  alt="Behind the Chair: A Day in the Life of Our Stylists"
                />
              </figure>
            </a>
          </div>
          <!-- Post Featured Image End -->

          <!-- Post Header Start -->
          <div class="post-header">
            <h3>
              <a href="#">Behind the Chair: A Day in the Life of Our Stylists</a
              >
            </h3>
            <div class="post-meta">
              <ul>
                <li><a href="#">December 20, 2023</a></li>
              </ul>
            </div>
          </div>
          <!-- Post Header End -->

          <!-- Post Read More Button Start -->
          <div class="post-readmore">
            <a href="#"
              ><img src="/images/icon-readmore.svg" alt="Read more" /></a
            >
          </div>
          <!-- Post Read More Button End -->
        </div>
        <!-- Post Item End -->
      </div>
    </div>
  </div>
</div>
