<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1 style="color: white; font-weight: bold; margin: 0;">NEAT</h1>
    </a>
    <div class="navbar-collapse main-menu">
      <ul class="navbar-nav ms-auto" id="menu">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://neatparis.fr/category/le-mag/"
            target="_blank">LE MAG</a
          >
        </li>
        <li class="nav-item highlighted-menu">
          <a
            class="nav-link"
            href="https://neatparis.fr/category/le-mag/"
            target="_blank">PRENDRE RENDEZ-VOUS</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-toggle"></div>
  </div>
</nav>
<div class="responsive-menu"></div>
