---
// PhotoGallery component
import { galleryImages } from "../data/images";
---

<div class="photo-gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3>Découvrez nos locaux</h3>
          <h2>Galerie Photos</h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="photo-gallery-ticker">
          <!-- Photo Gallery Images Start -->
          <div class="photo-gallery-content">
            {
              galleryImages.map((image) => (
                <div class="photo-gallery-item h-full">
                  <figure class="hover-anime aspect-[4/3] overflow-hidden">
                    <img
                      src={image.url}
                      alt={image.alt}
                      loading="lazy"
                      width="800"
                      height="600"
                      class="object-cover w-full h-full"
                    />
                  </figure>
                </div>
              ))
            }
          </div>

          <div class="photo-gallery-content">
            {
              galleryImages.map((image) => (
                <div class="photo-gallery-item h-full">
                  <figure class="hover-anime aspect-[4/3] overflow-hidden">
                    <img
                      src={image.url}
                      alt={image.alt}
                      loading="lazy"
                      width="800"
                      height="600"
                      class="object-cover w-full h-full"
                    />
                  </figure>
                </div>
              ))
            }
          </div>
          <!-- Photo Gallery Images End -->
        </div>
      </div>
    </div>
  </div>
</div>
